extends layout

block content

    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") !{title}

            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li(class="active")
                        a(href="/browse") Browse
                    li
                        a(href="/search") Search
                    if(signedInUser)
                        li
                            a(href="/addItem") Sell
                    else
                        li
                            a(href="/login?message=Please login first&redirect=/addItem") Sell

                form(class="navbar-form navbar-left" role="search" submit="/search" style="margin-top:5px;")
                    div(class="input-group")
                        input(type="text" class="form-control input-sm" placeholder="Search products..." name="searchTerm" id="searchTerm")
                        span(class="input-group-btn")
                            button(class="btn btn-primary btn-sm" type="submit")
                                span(class="glyphicon glyphicon-search" aria-hidden="true")

                ul(class="nav navbar-nav navbar-right")
                    if signedInUser
                        li
                          a(href="/userPage" class="btn-primary" onmouseover="showOptions()" onmouseout="hideOptions()") !{signedInUser} &#x25BC;
                          span(id="userOptions" style="display:none; position: absolute;" onmouseover="showOptions()" onmouseout="hideOptions()")
                            a(href="/profile?user=" + id class="btn btn-default btn-sm") View public profile
                            a(href="/logout" class="btn btn-default btn-sm") Logout
                    else
                        li
                            a(href="/login") Sign In

    script(type='text/javascript').
      function showOptions() {
          document.getElementById('userOptions').style.display = 'block';
        };
    
        function hideOptions() {
          document.getElementById('userOptions').style.display = 'none';
        };

    br
    br
    br

    .container
      .dropdown
        button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
          | Sort By
          span.caret
        ul.dropdown-menu
            li
                a(href="/browse?sortBy=lowestPrice") Lowest Price
            li
                a(href="/browse?sortBy=highestPrice") Highest Price
            li
                a(href="/browse?sortBy=name") Name
            li
                a(href="/browse?sortBy=newestFirst") Newest First


    div(style="margin-left:20%; margin-right:20%;")

        table(class="table table-striped table-hover")

            thead
                tr
                    th(width="20%")
                    th(width="20%") Name
                    th(width="45%") Description
                    th(width="15%") Price
                tr

            tbody
                each val in list
                    tr
                        th
                            a(href="/product?sid=" + val.sid)
                                img(src=val.url, width="100%")
                        th
                            a(href="/product?sid=" + val.sid) !{val.label}
                        th !{val.description}
                        th $!{val.price}