extends layout

block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand" href="/") !{title}

            div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li
                        a(href="/browse") Browse
                    if(signedInUser)
                        li
                            a(href="/addItem") Sell
                    else
                        li
                            a(href="/login?message=Please login first.&redirect=/addItem") Sell

                form(class="navbar-form navbar-left" role="search" action="/search" style="margin-top:10px;")
                    div(class="input-group")
                        input(type="text" class="form-control input-sm" placeholder="Search products..." name="searchTerm" id="searchTerm")
                        span(class="input-group-btn")
                            button(class="btn btn-primary btn-sm" type="submit")
                                span(class="glyphicon glyphicon-search" aria-hidden="true")

                ul(class="nav navbar-nav navbar-right")
                    if signedInUser
                        li
                            a(href="/profile?user=" + id class="btn-default") Credit:
                                &nbsp;
                                span(class="text-info") $!{money}

                        li
                          a(href="/userPage" class="btn-primary" onmouseover="showOptions()" onmouseout="hideOptions()") !{signedInUser} &#x25BC;
                          span(id="userOptions" style="display:none; position: absolute;" onmouseover="showOptions()" onmouseout="hideOptions()")
                            a(href="/profile?user=" + id class="btn btn-default btn-sm") View public profile
                            a(href="/logout" class="btn btn-default btn-sm") Logout
                    else
                        li
                            a(href="/login") Sign In
                        li
                            a(href="/signUp") Sign Up

    script(type='text/javascript').
      function showOptions() {
          document.getElementById('userOptions').style.display = 'block';
        };
    
        function hideOptions() {
          document.getElementById('userOptions').style.display = 'none';
        };

    br
    br
    br

    h1(align="center") !{product.label}

    div(class="well" style="margin-left:20%; margin-right:20%;")

        if !inStock
            div(class="alert alert-dismissible alert-danger" id="message")
                button(type="button" class="close" onclick="hideMessage();") &times;
                p(align="center") Item not in Stock

        if product.url
            div(class="pull-right")
                img(src= product.url, max-width='600px', height=auto)

        h2(class="text-info" style="margin-bottom:0px;") $!{product.price}
            &nbsp;
            if(inStock)
                if (listedBy.uid == id)
                     a(class="btn btn-primary btn-xs", href="/editItem?sid=" + product.sid) Edit
                else if(signedInUser)
                    a(class="btn btn-primary btn-xs", href="/sold?sid=" + product.sid) Buy Now
                else
                    a(class="btn btn-primary btn-xs", href="/login?message=Please sign in first.") Buy Now

            else
                a(class="btn btn-primary btn-xs", disabled="disabled") Not in Stock

        p(class="text-warning") !{product.quantity} in stock

        p !{product.description}

        p
            a(href="/profile?user=" + listedBy.uid  ) Listed by !{listedBy.username}